@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
.waiting {
    display: none;
  }

.intro{
  width: 100vw;
  height: 100vh;
}

.words{
  margin-top: 100px;
  text-align: center;
  font-size: 7vw;
  font-family: "Tulpen One", cursive;
  color:#8fdff5;
  animation: rotate 5s;
  -webkit-text-stroke: 1.5px #5a8cdc;
  opacity: 0;
  z-index: 1;
  transition: all 1s;
}

@keyframes rotate{
  0%{
    transform:rotateY(10deg);
    text-shadow:0 0 0 #67e6ff;
    opacity: 1;
  }
  25%{
    transform:rotateY(12deg);
    text-shadow:0em 0em .05em #8db4da;
    opacity: 0.8;
  }
  50% {
    transform:rotateY(10deg);
    text-shadow:0 0 0 #a3e9f7;
    opacity: 1;    
  }
  75%{
    transform:rotateY(12deg);
    text-shadow:0em 0em .05em #8db4da;
    opacity: 0.8;
  }
  100% {
    transform:rotateY(10deg);
    text-shadow:0 0 0 #67e6ff;
    opacity: 1;    
  }
}
@media only screen and (max-width: 767px){
 .button_left {
  margin-right: 0.1em;
}
 .button_right {
  margin-left: 0.1em;
}}

@media only screen and (min-width: 768px) {
  div.wrapper {
    flex-direction: row;
    justify-content: center;
  }
  button.enter_btn {
    padding: 7px;
    margin: 5px;
    font-size: 1em;
  }
  img.greeting {
    margin: 70px 0px 30px 0px;
    width: 50vw;
    max-width: 490px;
  }
  button.close {
    font-size: 2em;
    padding: 0 0.3em;
  }
  button.button_left{
    margin-right: 0.5em;
    font-size: 2.5em;
  }
  button.button_right{
    margin-left: 0.5em;
    font-size: 2.5em;
  }
} 

@media only screen and (min-width: 1200px) {
  button.enter_btn {
    padding: 10px;
    margin: 10px;
    font-size: 1em;
  }
  img.greeting {
    margin: 100px 0px 50px 0px;
    max-width: 500px;
  }
  button.close {
    font-size: 2.5em;
    padding: 0 0.5em;
  }
  button.button_left{
    margin-right: 1em;
    font-size: 3em;
  }
  button.button_right{
    margin-left: 1em;
    font-size: 3em;
  }
}